<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Angular Deployment Demo </h1>

</div>
<h2>Here are the below steps to follow for deploying angular in Github site: </h2>
<ul>
  <li>
    Create a cli project  : npm install -g @angular/cli
  </li>
  <li>
    Create a new angular project and navigate to that folder : ng new angular-project-name
  </li>
  <li>
    Check whether application is running or not : ng serve -o <br>
    If it opens then our angular application is working as expected
  </li>
</ul>

<router-outlet></router-outlet>
